#home {
    
    
    
    .left-section {
        width: 60%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0 0 0 4%;
        
        & > * {
            margin: 2%;
        }
        
        .typed {
            display: flex;
            font-size: 30px;
            color: blueviolet;
            margin-top: -8px;
        }
        
        .info {
            border-top: 2px solid blueviolet;
            width: 80%;
            height: auto;
            margin-top: 40px;
            
            p {
                font-family: 'Edu NSW ACT Foundation', cursive;
                font-size: 18px;
                font-weight: 500;
                padding: 20px;
                color: white;
            }
        }
    }
    
    .right-section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: -100px 0 0 0;
        
        img {
            object-fit: cover;
            width: 30%;
            aspect-ratio: 1;
            border-radius: 50%;
        }
        .type-wrap {
            margin: 20px;
            
            .typed-span {
                white-space: pre;
                color: blueviolet;
                font-size: 20px;
                font-weight: 600;
            }
            
            .typed-cursor {
                color: blueviolet;
                font-size: 20px;
                font-weight: 600;
            }
        }
        a {
            .resume {
                position: absolute;
                outline: none;
                border: none;
                font-family: 'Edu VIC WA NT Beginner', cursive !important;
                font-size: 18px;
                font-weight: 700;
                width: 180px;
                height: 50px;
                margin: 20px 0 0 -80px;
                background: blueviolet;
                border-radius: 6px;
                cursor: pointer;
                transition: all 0.3s ease;
                
                &:hover {
                    border: 1px solid blueviolet;
                    border-radius: 3px;
                    color: blueviolet;
                    font-weight: 700;
                    background: transparent;
                }
            }
        }
        
    }
}

@media (max-width: 758px) {
    #home {
        flex-wrap: wrap;
        
        .left-section {
            position: absolute;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin: 800px 0 0 0;

            .typed {
                margin: 0 0 200px 0;
            }
            
        }
        
        .right-section {
            position: absolute;
            width: 100%;
            margin: 450px 0 0 0;

            img {
                width: 100px;
                height: 100px;
            }

            .resume {
                margin: 1200px 0 0 0;
            }
        }
    }
}