#navbar {
    position: fixed;
    width: 80%;
    height: 120px;
    background: transparent;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10%;
    border-bottom: 2px solid white;
    transition: all 0.3s ease;
    
    #ham-menu {
        background: transparent;
        cursor: pointer;
        

        i {color: transparent; font-size: 30px;}
    }
    
    #menu {
        display: none;
    }
    
    .navbar-left {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        margin-top: 40px;
        
        a {
            color: white;
            
            .name {
                text-align: center;
                font-size: 20px;
                font-weight: 700;
                font-family: 'Edu VIC WA NT Beginner', cursive !important;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                
                
                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }
    
    .navbar-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin-left: auto;
        margin-top: 40px;
        
        a {
            margin-right: 10%;
            
            .link {
                font-family: 'Edu VIC WA NT Beginner', cursive !important;
                font-size: 18px;
                font-weight: 600;
                transition: all 0.2s ease-in-out;
                color: white;
                cursor: pointer;
                
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

/* Mobile */
@media (max-width: 1000px) {
    #navbar {
        width: 100vw;
        margin: 0 0 0 0;
        background: #1d2327;
        border-bottom: none;


        #ham-menu {
            margin: 70px -50px 0 50px;
            font-size: 20px;
            i {color: #fff;}
        }
        
        #menu {
            position: fixed;
            display: flex;
            flex-direction: column;
            margin: 120px 0 0 -130%;
            padding: 0;
            width: 110%;
            height: calc(100% - 120px);
            background: #1d2327;
            transition: all 0.4s ease;
            
            &.active {
                margin: 120px 0 0 -20px;
                padding-block: 50px;
            }
            
            a { 
                .link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Edu VIC WA NT Beginner', cursive !important;
                    font-size: 20px;
                    font-weight: 600;
                    width: 120px;
                    margin-block: 35px;
                    margin-inline: 37%;
                    color: white;
                    border-bottom: 1px solid white;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    
                    &:hover {
                        transform: scale(1.3);
                    }
                }
            }
        }
        
        .navbar-left {
            width: 40% !important;
            margin-left: 45%;
            
        }
        .navbar-right {
            display: none !important;
            width: 0;
            
            & > * {
                display: none;
            }
        }
    }
}