/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Edu+VIC+WA+NT+Beginner:wght@500;600&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

a, button, textarea, input {
  outline: none;
  text-decoration: none;
  border: none;
}

body {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

/* Remove scollbar */
::-webkit-scrollbar {
  display: none;
}

/* Background canvas */
.App {
  position: fixed;
  background: #8E2DE2;
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
  width: 100vw;
  height: 100vh;
}

/* Loader */
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#home, #projects, #contact, #certification, #thanks {
  display: flex;
  width: 100%;
  position: absolute;
  color: white;
  margin-top: 120px;
  align-items: center;
  justify-content: center;
}

/* Animations */
@keyframes projects_anim {
  0% {
    transform: scale(1.01);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
  
}