#home, #projects, #contact, #certification, #thanks {
  display: flex;
  width: 100%;
  position: absolute;
  color: black;
  margin-top: 120px;
  align-items: center;
  justify-content: center;
}

/* Animations */
@keyframes projects_anim {
  0% {
    transform: scale(1.01);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
  
}