/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Edu+VIC+WA+NT+Beginner:wght@500;600&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

/* Remove scollbar */
::-webkit-scrollbar {
  display: none;
}